@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "BespokeTencil";
  src: url("./assets/fonts/BespokeStencil/BespokeStencil-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BespokeTencil";
  src: url("./assets/fonts/BespokeStencil/BespokeStencil-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BespokeTencil";
  src: url("./assets/fonts/BespokeStencil/BespokeStencil-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BespokeTencil";
  src: url("./assets/fonts/BespokeStencil/BespokeStencil-Extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Body font */
@font-face {
  font-family: "Supreme";
  src: url("./assets/fonts/Supreme/Supreme-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-heading: "BespokeTencil", ui-sans-serif, system-ui, sans-serif;
  --font-body: "Supreme", ui-sans-serif, system-ui, sans-serif;

  --color-brand-orange: #ff7d00;
  --color-brand-white: #ffecd1;
  --color-brand-black: #11001c;
  --color-brand-green: #15616d;

  /* Light */

  --color-light-bg: #f9fafb;
  --color-light-surface: #ffffff;
  --color-light-text: #111827;
  --color-light-text-muted: #6b7280;
  --color-light-border: #e5e7eb;

  /* Dark */

  --color-dark-bg: #11001c;
  --color-dark-surface: #1c1a29;
  --color-dark-text: #f3f4f6;
  --color-dark-text-muted: #9ca3af;
  --color-dark-border: #2e2b3a;
}

@layer base {
  :root {
    --background-color: var(--color-light-bg);
    --text-color: var(--color-light-text);
    --paragraph-color:var(--color-light-text-muted)
  }
  .dark {
    --background-color: var(--color-dark-bg);
    --text-color: var(--color-dark-text);
    --paragraph-color:var(--color-dark-text-muted)
  }

  html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  section {
    @apply flex flex-col items-start justify-center min-h-screen snap-center space-y-6 relative overflow-hidden;
  }

  body {
    background-color: var(--background-color);
    transition: color 150ms ease;
    color: var(--text-color);
    font-family: var(--font-body);
  }

  button {
    @apply cursor-pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading) !important;
  }

  h1 {
    @apply text-4xl md:text-7xl font-extrabold;
  }
  h2 {
    @apply text-3xl md:text-6xl font-bold;
  }
  h3 {
    @apply text-2xl md:text-5xl font-medium;
  }
  h4 {
    @apply text-xl md:text-4xl;
  }
  h5 {
    @apply text-lg md:text-3xl;
  }
  h6 {
    @apply text-base md:text-2xl;
  }

  p {
    @apply text-xl text-[var(--paragraph-color)];
  }
}
